{% extends "counter/base.html" %}

{% block title %}Den sjuka planeten - Klimatsjuk{% endblock %}

{% block page_title %}den sjuka planeten{% endblock %}

{% block content_section %}
<div class="links-section">
    <a target="_blank" href="https://www.greenpeace.org/sweden/klimat/klimatforandringar/ipcc/">IPCC enligt Greenpeace</a>
    <a target="_blank" href="https://www.wwf.se/rapport/ipcc/">IPCC enligt WWF</a>
    <div class="link-spacer"></div>
    <a target="_blank" href="https://www.stockholmresilience.org/research/planetary-boundaries.html">Planetära gränser enligt Stockholm Universitet</a>
    <div class="link-spacer"></div>
    <a target="_blank" href="https://overshoot.footprintnetwork.org/">Overshoot av jordens förnybara resurser</a>
    <div class="link-spacer"></div>
    <a target="_blank" href="https://klimatkollen.se/sv/">Hur går det med att minska utsläppen?</a>
    <div class="link-spacer"></div>
    <a target="_blank" href="https://klimatklubben.se/engagemang/89procent/">Vad vill svenska folket egentligen?</a>
    <div class="link-spacer"></div>
    <a target="_blank" href="https://www.riksrevisionen.se/granskningar/vilka-vi-granskar/departement/klimat--och-naringslivsdepartementet.html">Granskningar av riskrevisionen</a>
</div>
{% endblock %}
