{% extends "counter/base.html" %}

{% block title %}Den sjuka planeten - Klimatsjuk{% endblock %}

{% block page_title %}den sjuka planeten{% endblock %}

{% block content_section %}
<div class="iframe-container">
    <iframe src="https://klimatsjuk.cargo.site/inneh%C3%A5ll-den-sjuka-planeten" title="Den sjuka planeten" scrolling="no"></iframe>
</div>

<style>
    .iframe-container {
        width: 100%;
        max-width: 1200px;
        margin: 2rem auto;
        padding: 0 1rem;
        height: 800px;
        border: none;
    }
    
    .iframe-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    
    @media (max-width: 1024px) {
        .iframe-container {
            height: 600px;
        }
    }
    
    @media (max-width: 640px) {
        .iframe-container {
            height: 500px;
            margin: 1rem auto;
        }
    }
</style>
{% endblock %}
